# Python cache
__pycache__/
*.pyc
*.py[cod]

# Virtual environment
venv/
.venv/

# Logs
logs/

# Environment variables
config/.env

# Audio folders
src/data_storage/audio/
src/data_storage/construct_audio/